html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    spacing: 0;
}

body {
    position: relative;
    background-image: url(../IMAGES/fondRestaurant.jpg);
    background-size:100% 100%;

}

#centralDiv {
    min-width: 150px;
    position: absolute;
    top: 45%;
    left: 42.5%;
    transform: translateY(-50%);
    vertical-align: middle;
    width: 15%;
    height: 10%;
    margin: auto;
    text-align: center;
}

button {
    padding: 10px;
    width: 100%;
    height: 100%

}